
body{
    background-color: black;
    color: white;
}




@media only screen and (max-width: 475px){

    .footer{
        display: none;
    }
    #openMenu{
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: black;
        background-color: white;
        border: 2px solid black;
        outline: 2px solid white;
    }
    #footerSmaller{
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-size: 20px;
        border: 2px solid black;
        outline: 2px solid white;
        border-radius: 0 10px 0 10px;
    }
    #footerSmaller ul li{
        list-style-type: none;
        padding: 4px;
        margin: 5px;
        background-color: black;
        border-radius: 10px;
    }
    #footerSmaller ul li a{
        text-decoration: none;
        color: white;
        cursor: pointer;
    }

    .inputDiv{
        margin-top: 30px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }
    
    #textAreaText{
        width: 80vw;
        padding: 5px;
        border-radius: 10px;
        font-size: 16px;
        overflow: hidden;
        resize: none;
    }

    #textAreaText::-webkit-scrollbar{
        display: none;
    }
    
    #textAreaText::placeholder{
        color: black;
        font-size: 20px;
    }
    .logBtn{
        display: flex;
        justify-content: center;
    }
    
    #logBtn{
        border-radius: 10px;
        width: 100px;
        height: 30px;
        cursor: pointer;
        border-radius: 0 20px 0 20px;
        background-color: black;
        color: white;
        border: 2px solid white;
        outline: 2px solid black;
        padding: 5px;
    }
    
    
    #newListing li{
        max-width: 90vw;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        font-size: 20px;
        background-color: green;
        padding: 10px;
        border-radius: 10px;
        color: white;
        margin-bottom: 10px;
        margin-left: -30px;
    }
    
    .spanEdit{
        color: red;
        font-size: 30px;
        cursor: pointer;
    }
}







    @media only screen and (min-width: 475px){

        .inputDiv{
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
        }
        
        #textAreaText{
            width: 80vw;
            padding: 5px;
            border-radius: 10px;
            font-size: 16px;
            overflow: hidden;
            resize: none;
        }
    
        #textAreaText::-webkit-scrollbar{
            display: none;
        }
        
        #textAreaText::placeholder{
            color: black;
            font-size: 20px;
        }
        .logBtn{
            display: flex;
            justify-content: center;
        }
        
        #logBtn{
            border-radius: 10px;
            width: 100px;
            height: 30px;
            cursor: pointer;
            border-radius: 0 20px 0 20px;
            background-color: black;
            color: white;
            border: 2px solid white;
            outline: 2px solid black;
            padding: 5px;
        }
        
        
        #newListing li{
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            font-size: 20px;
            background-color: green;
            padding: 10px;
            border-radius: 10px;
            color: white;
            margin-bottom: 10px;
            margin-left: -30px;
        }
        
        .spanEdit{
            color: red;
            font-size: 30px;
            cursor: pointer;
        }
    
        .footer{
            position: fixed;
            bottom: 10px;
            display: flex;
            justify-content: space-between;
            border: 2px solid white;
            outline: 2px solid black;
            border-radius: 0 20px 0 20px;
            background-color: black;
        }
        
        .navigation ul{
            display: flex;
            justify-content: space-between;
        }
        
        .navigation ul li{
            list-style-type: none;
            padding: 10px;
        }
        .navigation ul li a{
            color: white;
            text-decoration: none;
            font-size: 20px;
            border: 2px solid white;
            padding: 10px;
            border-radius: 0 20px 0 20px;
        }
        body{
            background-color: black;
            color: white;
        }
        
        
        #inputsearch{
            display: flex;
            justify-content: space-between;
            border-radius: 0 20px 0 20px;
            background-color: black;
            color: white;
            border: 2px solid white;
            outline: 2px solid black;
            padding: 10px;
        }
        #searchBtn{
            border-radius: 0 20px 0 20px;
            background-color: black;
            color: white;
            border: 2px solid white;
            outline: 2px solid black;
            padding: 10px;
            cursor: pointer;
        }
        #searchBox{
            margin-top: 20px;
            border: 2px solid rgb(0, 0, 0);
            outline: 2px solid rgb(255, 255, 255);
            height: 30px;
            border-radius: 0 20px 0 20px;
            margin-right: 10px;
            padding: 5px 10px;
            font-size: 20px;
        }
        
        .logoImage{
            width: 80px;
            align-items: center;
        }
        #footerSmaller{
            display: none;
        }
        #openMenu{
            display: none;
        }
    }