
body{
    background-color: black;
    color: white;
}

@media only screen and (max-width: 475px){
    .mainDiv{
        background-color: black;
        color: white;
        border-radius: 0 20px 20px 20px;
        padding: 20px;
    }

    .quoteDiv{
        padding: 20px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    
    #authorName{
        display: flex;
        justify-content: end;
        list-style-type: none;
        font-style: italic;
    }
    #deleteBtnDiv{
        display: flex;
        justify-content: center;
    }
    #deleteBtn{
        border-radius: 0 20px 0 20px;
        background-color: black;
        color: white;
        border: 2px solid white;
        outline: 2px solid black;
        padding: 10px;
        cursor: pointer;
    }
    
    #inputsearch{
        position: fixed;
        top: 10px;
        width: 90vw;
        display: flex;
        justify-content: space-between;
        border-radius: 0 20px 0 20px;
        background-color: black;
        color: white;
        border: 2px solid white;
        outline: 2px solid black;
        padding: 5px;
    }
    #searchBtn{
        border-radius: 0 20px 0 20px;
        background-color: black;
        color: white;
        border: 2px solid white;
        outline: 2px solid black;
        padding: 5px;
        cursor: pointer;
    }
    #searchBox{
        margin-top: 10px;
        border: 2px solid rgb(0, 0, 0);
        outline: 2px solid rgb(255, 255, 255);
        border-radius: 0 20px 0 20px;
        margin-right: 5px;
        padding: 5px 10px;
        font-size: 15px;
    }
    
    
    .quoteContent{
        margin-bottom: 20px;
        font-size: 20px;
        background-color: blue;
        border-radius: 0 20px 0 20px;
        padding: 10px;
    }
    .authorName{
        list-style-type: none;
        display: flex;
        justify-content: end;
        font-style: italic;
        margin-top: 7px;
    }
    #newQuoteDiv{
        
        margin-top: 120px;
    }
    .logoImage{
        width: 50px;
        align-items: center;
    }



    .footer{
        display: none;
    }
    #openMenu{
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: black;
        background-color: white;
        border: 2px solid black;
        outline: 2px solid white;
    }
    #footerSmaller{
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-size: 20px;
        border: 2px solid black;
        outline: 2px solid white;
        border-radius: 0 10px 0 10px;
    }
    #footerSmaller ul li{
        list-style-type: none;
        padding: 4px;
        margin: 5px;
        background-color: black;
        border-radius: 10px;
    }
    #footerSmaller ul li a{
        text-decoration: none;
        color: white;
        cursor: pointer;
    }

}





@media only screen and (min-width: 475px){
    .mainDiv{
        background-color: black;
        color: white;
        border-radius: 0 20px 20px 20px;
        padding: 20px;
        font-size: 20px;
    }
    
    .quoteDiv{
        /* margin-top: -100px; */
        padding: 20px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    
    #authorName{
        display: flex;
        justify-content: end;
        list-style-type: none;
        font-style: italic;
    }
    #deleteBtnDiv{
        display: flex;
        justify-content: center;
    }
    #deleteBtn{
        border-radius: 0 20px 0 20px;
        background-color: black;
        color: white;
        border: 2px solid white;
        outline: 2px solid black;
        padding: 10px;
        cursor: pointer;
    }
    #inputsearch{
        display: flex;
        justify-content: space-between;
        border-radius: 0 20px 0 20px;
        background-color: black;
        color: white;
        border: 2px solid white;
        outline: 2px solid black;
        padding: 10px;
    }
    #searchBtn{
        border-radius: 0 20px 0 20px;
        background-color: black;
        color: white;
        border: 2px solid white;
        outline: 2px solid black;
        padding: 10px;
        cursor: pointer;
    }
    #searchBox{
        margin-top: 20px;
        border: 2px solid rgb(0, 0, 0);
        outline: 2px solid rgb(255, 255, 255);
        height: 30px;
        border-radius: 0 20px 0 20px;
        margin-right: 10px;
        padding: 5px 10px;
        font-size: 20px;
    }
    
    
    .quoteContent{
        margin-bottom: 20px;
        font-size: 20px;
        background-color: blue;
        border-radius: 0 20px 0 20px;
        padding: 10px;
    }
    .authorName{
        list-style-type: none;
        display: flex;
        justify-content: end;
        font-style: italic;
        margin-top: 7px;
    }
    #newQuoteDiv{
        /* margin-top: 140px; */
        margin-top: 30px;
        height: 100px;
    }
    .logoImage{
        width: 80px;
        align-items: center;
    }



    /* THE FOOTER */

    .footer{
        position: fixed;
        bottom: 10px;
        display: flex;
        justify-content: space-between;
        border: 2px solid white;
        outline: 2px solid black;
        border-radius: 0 20px 0 20px;
        background-color: black;
        /* padding: 10px; */
    }

    .navigation ul{
        display: flex;
        justify-content: space-between;
    }

    .navigation ul li{
        list-style-type: none;
        padding: 10px;
    }
    .navigation ul li a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        border: 2px solid white;
        padding: 10px;
        border-radius: 0 20px 0 20px;
        
    }

    #footerSmaller{
        display: none;
    }
    #openMenu{
        display: none;
    }
}